.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.titleContainer {
    width: 75%;
    max-width: 100rem;
}

.postTitle {
    color: var(--foreground);
    margin-bottom: 4rem;
    font-size: 3rem;
    text-align: center;
}

.secondaryInfos {
    color: var(--foreground);
    display: flex;
    gap: 0.25rem;
}

.postAuthor {
    color: var(--secondary);
}

.postContainer {
    color: var(--foreground);
    font-size: 1rem;
    width: 75%;
    max-width: 100rem;
}

.imageContainer {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.postImage {
    width: 40rem;
    height: auto;
}

.paragraphContent {
    margin-bottom: 1rem;
}