.postContainer {
    width: 18.25rem;
    border-radius: 8px;
}

.postContainer:hover {
    background-color: var(--primary);
}

.postImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.postContent {
    margin: 1.5rem 0;
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
}

.postCreationDate {
    background-color: var(--primary);
    height: 40px;
    width: 10rem;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-radius: 8px;
}