:root {
  --background: #171717;
  --foreground: #ffffff;
  --primary: #5033A5;
  --secondary: #8b76a7;
  --accent: #33059c;
  --text-black: #000000;
  --background-less: #1d1d24;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


