:root {
  --background: #171717;
  --foreground: #ffffff;
  --primary: #5033A5;
  --secondary: #A599B5;
  --accent: #FF6F61;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


