.mainContainer {
    display: flex;
    flex-direction: column;
    color: var(--foreground);
    padding: 2rem;
    align-items: center;
    min-height: 100vh;
}

.title {
    margin: 2rem;
}

.backButton {
    height: 64px;
    width: 20rem;
    margin: 2rem;
    border-radius: 8px;
    border: none;
    background-color: var(--accent);
    color: var(--foreground);
    font-size: 1.25rem;
    cursor: pointer;
}