.mainContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    min-height: calc(100vh - 100px);
}

.title {
    color: var(--foreground);
    text-align: center;
    margin: 2rem 0;
    font-size: 2.25rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    color: var(--foreground);
    gap: 0.5rem;
}

.formContainer label {
    align-self: flex-start;
    font-size: 1.25rem;
}

.inputTitle {
    width: 100%;
    height: 60px;
    padding: 0 1rem;
    font-size: 1.125rem;
    outline: none;
    border: none;
    background-color: #272727;
    color: var(--foreground);
    box-shadow: 8px 8px 8px #000;
}

.inputContent {
    width: 100%;
    min-height: 500px;
    outline: none;
    background-color: #272727;
    color: var(--foreground);
    padding: 1rem;
    font-size: 1rem;
    border: none;
}

.inputFiles {
    width: 100%;
}

.inputFiles::file-selector-button {
    width: 100%;
    background-color: var(--secondary);
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-black);
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.clearFilesButton {
    width: 20rem;
    background-color: white;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    align-self: flex-start;
    cursor: pointer;
    border-radius: 8px;
}

.filesSelectedTitle {
    color: var(--foreground);
    align-self: flex-start;
    margin-bottom: 0.75rem;
}

.filesList {
    list-style: none;
    align-self: flex-start;
}


.postButton {
    border: none;
    min-width: 10rem;
    width: 50%;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--primary);
    color: var(--foreground);
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
}

.postButton:hover {
    background-color: var(--accent);
}

